body.page_clock{
	color:#fff;
	background-color:#88b04b;
}
body.page_home{
	
	background-color:maroon;
}

#clock {
		margin-top: 50%;
		margin-left: 33%;
		float: left;
		border: solid;
		background-color: #f6b319;
		width: 170px;
		text-align: center;
		font-size: 150px;
		font-family: "clk";
		border-color: black;
		box-shadow: 3px 4px 3px black;


}

#menu a:hover{
 background:#35212A;
 color: white;
 
 box-shadow: 1px 2px 2px; 
}



#imagg{
	float: left;
	padding: 3px;
}



#min{
		margin-left: 1%;
		margin-top: 50%;
		float: left;
		border: solid;
		background-color: #f6b319;
		width: 170px;
		text-align: center;
		font-size: 150px;
		font-family: "clk";
		border-color: black;
		box-shadow: 3px 4px 3px black;

}
#sec {
		
		margin-left: 1%;
		margin-top: 50%;
		margin-bottom: 50%;
		
		float: left;
		border: solid;
		background-color: #f6b319;
		width: 170px;
		text-align: center;
		font-size: 150px;
		font-family: "clk";
		border-color: black;
		box-shadow: 3px 4px 3px black;
}
#itemz{
	padding-top: 5px;
}
@font-face{
	font-family: "clk";

	src: url('..\fonts\PlayfairDisplay-Medium.ttf')
}
.navbar-default {
  background-color: white;
  border-color: #e7e7e7;
}
.navbar-brand{
	font-family: "clk";

	float: top;
}
#
